name: test

on:
  workflow_dispatch
  
jobs:
  job111:
    runs-on: ubuntu-latest
    steps:
      - name: aa
        run: |
          a=$(curl -s https://dummyjson.com/products/1 | jq .)
          echo $a
  
